@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*

h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #130e23;
}

section .text
{
    position: relative;
    text-align: center;
    color: #00cefe;
    margin: 50px;
    max-width: 650px;
}

section .text span
{
    position: relative;
    display: inline-block;
}